[submodule "lib/serializer-cpp"]
	path = lib/serializer-cpp
	url = https://github.com/drfailer/serializer-cpp.git
[submodule "lib/hedgehog"]
	path = lib/hedgehog
	url = https://github.com/usnistgov/hedgehog.git
